.transactionsContainer {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin-left: 20px;
  padding: 20px;
}

.tabsSection {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  padding: 20px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-bottom: 20px;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  font-size: 16px;
  font-weight: 600;
  color: rgb(97, 96, 96);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 50px;
  cursor: pointer;
}

.tabButton:focus {
  background-color: rgb(204, 200, 200);
  font-size: 16px;
}

.transactionsContent {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding-left: 20px;
  border-radius: 10px 0 0 0;
}