.cartSummary {
  width: 35%;
  padding: 20px;
  color: #282c3f;
  margin: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.169);
}

.cartDetailsContainer {
  margin-bottom: 16px;
}

.priceHeader {
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.priceItem {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 16px;
  color: #282c3f;
}

.priceItemValue {
  float: right;
}

.priceDetailBaseDiscount {
  color: #03a685;
}

.priceFooter {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btnPlaceOrder {
  display: block;
  width: 100%;
  background-color: rgb(29, 29, 72);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

 